* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    height: 100vh;

    @media (min-width: 50em) {
        display: flex;
        flex-direction: column;
        
    }

}

/* This is the styling for navigation bar */

nav {
    background-color: darkgreen
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.navcon {
    margin: 0px 100px 0px 100px;
}

.logo img {
    width: 40px;
    height: auto;
    border-radius: 100%;
    flex-shrink: 0;
}

ul {
    display: flex;
    gap: 50px;
    font-weight: bold;
    align-items: flex-start;
}

li {
   list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

/*This is the styling for the header*/

header {
    color: white;
    padding: 12px;
    background-image: url(backgroundphoto.jpg);
    background-size: cover;
    background-position: 50% 50%;

}

.header-container {
    margin: 20px 100px 20px 100px;
}

.Description {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;

}
 .Description img {
    border-radius: 10px;
 }
h1 {
    font-size: 70px;
}

.Des-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Des-container p {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

button {
    display: block;
    background-color: black;
    padding: 20px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    width: fit-content;
    border: 1px solid white;
}

/*This is the styling for section one (info)*/

.info {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    background-color: white;
    color: rgb(53, 51, 51);
    text-align: center;
    height: 70vh;
    margin-bottom: 50px;
    margin-top: 30px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-container img {
    width: 200px;
    height: 200px;
    border: 3px solid green;
    border-radius: 50%;
}

.info h2 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
}

.info-container div {
    font-size: 18px;
    padding: 10px;
}

.one {
    width: 250px;
    height: 200px;
}

/*This is the style for section two (quote)*/

.quote {
    background-color: rgb(199, 236, 199);
    height: 50vh;
    text-align: center;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    height: 50vh;
    width: 800px;
    margin: 20px 100px 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.word {
    font-size: 32px;
    color: rgb(31, 31, 31);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.name {
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.namecon {
    display: flex;
    justify-content: flex-end;
    width: 800px;
}

/*This is styling for section three(Newsletter)*/

.newsletter {
    background-color: white;
    height: 50vh;
    width: auto;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.lettercon {
    height: 25vh;
    background-color: rgb(8, 8, 8);
    color: white;
    border-radius: 10px;
    width: 70%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.body {
    font-size: 25px;
}

.news {
    border: 1px solid white;
}

/*This is styling for the footer */

.footer {
    background-color: rgb(117, 117, 117);
    height: 50px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div {
    font-size: 12px;
    font-family: sans-serif;
}